
Defs/__pycache__/

Defs/ActionManager/__pycache__/

Defs/ActionManager/Server/__pycache__/

Defs/FeatureManager/__pycache__/

Defs/FeatureManager/EmailManager/__pycache__/

Defs/ImportManager/__pycache__/

Defs/ThemeManager/__pycache__/

*.deb

log.txt

h

Defs/FeatureManager/EmailManager/attachments/ip.txt

Defs/FeatureManager/EmailManager/attachments/usernames.txt

Server/CapturedData/ip.txt

Server/CapturedData/usernames.txt

Server/CapturedData/READ_IT

Defs/FeatureManager/EmailManager/attachments/KeyloggerData.txt

Server/CapturedData/KeyloggerData.txt

Defs/LocalizationManager/__pycache__/

Defs/LocalizationManager/lang_action_manager/__pycache__/

eula.txt

Defs/LocalizationManager/lang_action_manager/lang_server/__pycache__/

Server/www/
