*.pyc

*.deb

log.txt

h

Defs/FeatureManager/EmailManager/attachments/ip.txt

Defs/FeatureManager/EmailManager/attachments/usernames.txt

Server/CapturedData/ip.txt

Server/CapturedData/usernames.txt

Server/CapturedData/READ_IT

Defs/FeatureManager/EmailManager/attachments/KeyloggerData.txt

Server/CapturedData/KeyloggerData.txt

eula.txt

Server/www/

External_Software/

*.mo



.idea/dictionaries/
