
*.pyc

link\.url

log\.txt

Server


ngrok\.url

# Local Moltivie's virtual env
env

# Ignore vscode folder
.vscode

# Ignore created files by SendMail functions
Defs/Send_Email/attachments/ip.txt
Defs/Send_Email/attachments/usernames.txt

# Ignore created files by Xbox WebPage
WebPages/xbox/ip.txt
